:root{
    --blue-color: #606289;
    --blue-header: #1a1820;
    --white-color: #fff;
    --h2-color: #000;
    --light-grey-color: #f1f2f4;
    --grey-color: #e4e4e4;
}

html{
    overflow-x: hidden;
}

@font-face{
    font-family: source;
    src: url("fonts/sourcesans.ttf");
}

*, a{
    font-family: source;
}

body, ul{
    margin: 0;
    padding:0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    transition: all .5s;
    color: var(--blue-color);
}

a:hover{
    color: black;
}

h1, h2{
    margin: 0;
    padding: 0;
}

.rounded{
    border-radius: 15px;
}

.rounded-left{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.rounded-right{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.check{
    list-style-image: url('../images/checked.png');
}

.error{
    list-style-image: url("../images/error.png");

}


.correctMessage, .correctMessage a{ 
color: rgb(33, 175, 33);
    padding: 10px;
    font-weight: bold;
}

.errorMessage{
    padding: 10px;
    font-weight: bold;
    color: red; 
}
/* BEGIN HEADER */


#top-menu, #sub-menu, #page-footer{
    padding: 15px 25px;
}

#top-menu{
    padding: 25px 30px 25px 30px;
}


#top-menu{
    border-bottom: 1px solid var(--grey-color);
    width: 96.75%;
    display:flex;
    justify-content: space-between;
}


#top-menu ul a li{
    display: inline;
    font-size: 20px;
    line-height: 30px;
}

#top-menu .left-part ul a{
    color: var(--blue-color);
    text-decoration: none;
    transition: all 1s;
    padding-right: 25px;
}

#top-menu .right-part{
    margin-right: 10px;
}

#top-menu .right-part ul a{
    padding-left: 25px;
}

#top-menu ul a:hover{
    color: var(--h2-color);
}

#sub-menu{
    width: 100%;
    display: none;
    position: absolute;
    background-color: rgba(96,98,137, .95);
    padding: 35px 25px;
}

#sub-menu ul:last-child{
    border-right: 1px solid var(--blue-header);
    padding-right: 25px;
}

#sub-menu ul li {
    padding-bottom: 10px;
}


#sub-menu .left-part ul li h1{
    color: #dadada;
    font-size: 15px;
    margin: 0px 0px 10px 0px;
}


#sub-menu ul a{
    color: var(--white-color);
}

#sub-menu ul a:hover{
    color:black;
}

#sub-menu .left-part{
    width: 15%;
}

.left-part, .right-part{
    display:flex;
    justify-content: space-between;
}

#sub-menu .right-part{
    align-items: center;
    justify-content: flex-start;
    width: 85%;
}

#sub-menu .right-part .link-wrapper a{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    text-align: center;
    color: var(--white-color);
}

#sub-menu .right-part .link-wrapper a .icon-link{
    transition: color .5s;
}

#sub-menu .right-part .link-wrapper a:hover .icon-link{
    color: black;
}

#sub-menu .right-part .link-wrapper a .icon-link{
    font-size: 50px;
}

#user-menu {
    display: none;
    background-color: rgba(255,255,255,.9);
    width: 125px;
    position: absolute;
    right: 0px;
    padding: 5px 0px 0px 25px;
}

#user-menu ul a li{
    padding-bottom: 10px;
}

#logo{
    margin-left:-20px;
    padding:0;
    font-size: 20px;
    color: var(--blue-color);
    text-transform: uppercase;
}

/* END HEADER */


/* BEGIN FOOTER */

#page-footer{
    margin:0;
    padding:0;
    display: flex;
    background-color: var(--light-grey-color);

    justify-content: space-between;
}

#page-footer #footer-menu, #page-footer #social-media, #page-footer #footer-copyright{
    width: 33%;
    padding: 50px;
}

#page-footer #social-media{
    background-color: var(--grey-color);
}

#page-footer #footer-menu{
    display: flex;
    justify-content: center;
}

#page-footer #footer-menu ul{
    margin-right: 50px;
}

#page-footer #footer-menu ul li h1{
    margin-bottom: 15px;
}

#page-footer #social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-footer #social-media #social-media-wrapper{
    display: flex;
}

#page-footer #social-media #social-media-wrapper a{
    color: var(--blue-color);
    font-size: 50px;
    margin: 10px;
}

#page-footer #social-media #social-media-wrapper a:hover{
    color: #000;
    text-shadow: 1px 1px 1px var(--blue-color);

}

#page-footer #footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


/* END FOOTER */


/* BEGIN HOME */


#home-container{
    padding: 25px ;
    margin-bottom: 25px;
}

#home-container #big-container{
    display: flex;
    justify-content: space-between;
}

#home-container #big-container .image100{
    width:100%;
}

#home-container #big-container .image100 a{
    color: gray;
}

#home-container #big-container .image100 a:hover h1{
    color: var(--blue-color);
    transform: translate(15px, -310px);
    
}

#home-container #big-container .image100 a img{
    width: 100%;
}

#home-container #big-container .image100 a h1{
    position: relative;
    transform: translate(15px, -290px);
    font-size: 40px;
    margin-left: -40px;
    text-align:center;
    transition: all 1s;
}

#home-container > h1{
    text-align: center;
    margin-top: -10px;
    padding-bottom: 25px;
    font-size: 25px;
    text-transform: uppercase;
}

#home-container #cat-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 200px; 
    flex-wrap: wrap;
}

#home-container #cat-container .cat-item a{
    color: #000;
}

#home-container #cat-container .cat-item a:hover{
    color: var(--blue-color);
}

#home-container #cat-container .cat-item a:hover img{
    /* -webkit-filter:blur(0px);
    filter: blur(0px); */
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);

}

#home-container #cat-container .cat-item{
    flex: 0 0 23%;
    /* width: 24%; */
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#home-container #cat-container .cat-item img{
    width: 100%;
    border-radius: 50%;
    transition: all 1s;
    /* -webkit-filter:blur(2px);
    filter: blur(2px); */
    filter: grayscale(50%) blur(1px);
    -webkit-filter: grayscale(50%) blur(1px);
}

#home-container #cat-container .cat-item h1{
    font-size: 24px;
    text-align: center;
}

/* END HOME */


/* BEGIN CATEGORIE */
#categorie-container{
    display: flex;
    width: 100%;
    margin-top: 25px;
}

#side-menu{
    width: 20%;
    display: flex;
    justify-content: center;
}

#side-menu ul{
    margin-left: 50px;

}

#side-menu ul li{
    padding-bottom: 10px;
}

#side-menu ul a li{
    /* padding-left: 15px; */
    padding: 0px 0px 10px 25px;
}

#side-menu ul li h1{
}
#categorie-wrapper{
    width: 70%;
}

#categorie-wrapper #categorie-header{
    
}

#categorie-wrapper #categorie-header img{
    width: 100%;
    border-radius: 10px;
}

#categorie-wrapper h1{
    font-size: 26px;
}

#categorie-wrapper hr{

}

#categorie-wrapper #products-wrapper{
    display: flex;
    flex-wrap: wrap;
}

#categorie-wrapper #products-wrapper a {
    /* width: 24%;
    margin-right: 1.3%; */
    flex: 0 0 24%;
    margin-right: 1.325%;
    margin-bottom: 25px;
}
#categorie-wrapper #products-wrapper a:nth-child(4n) {
    margin: 0;
}


#categorie-wrapper #products-wrapper a .product-item img{
    width: 100%;
}

#categorie-wrapper #products-wrapper a .product-item .product-item-info{
    display: flex;
    justify-content: space-between;
}

#categorie-wrapper #products-wrapper a .product-item .product-item-info .product-item-info-title{

}

#categorie-wrapper #products-wrapper a .product-item .product-item-info .product-item-info-price{

}

/* END CATEGORIE */

#product-wrapper{
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

/* BEGIN PRODUCTPAGE */
#product-container{
    display: flex;
    flex-direction: column;
    width: 75%;
}

#product-container .row{
    display: flex;
    justify-content: space-between;
}

#product-container .row #product-header{
    display: flex;
}

#product-container .row #product-header h1{
    font-size: 20px;
    margin-right: 5px;
}

#product-container .row #product-header .price{
    font-size: 20px;
}


#product-container .row #product-images-container{
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#product-container .row #product-images-container img{
    width: 100%;
    margin: 2.5px;
    border: 1px solid transparent;
}

#product-container .row #product-images-container img#thumb-active{
    width: 100%;
    margin: 2.5px;
    box-shadow: 1px 1px 1px black;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
border-radius:5px;
}
#product-container .row #product-images-container img:hover{
    cursor: pointer;
}


#product-container .row #product-images-big-image{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#product-container .row #product-images-big-image img{
    width: 100%;
}

#product-container .row #product-image-options{
    width: 25%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
}

#product-container .row #product-image-options #specifications{
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    padding: 15px 15px;
    background-color: #fff;
}
#product-container .row #product-image-options #specifications h1{
    font-size: 20px;
}

#product-container .row #product-image-options #specifications ul{
    list-style-type: disc;
}

#product-container .row #product-image-options #specifications ul li{
    margin-left: 15px;
    font-size: 14px;
}


#product-container .row #product-image-options form{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    box-shadow: 1px 1px 1px black;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
padding: 15px 15px;
}

#product-container .row #product-image-options form > input{
    background-color:var(--blue-color);
    border:0;
    padding: 5px 0;
    color: white;
    transition: all 1s;
}
#product-container .row #product-image-options form > input:hover{
    background: var(--blue-header);
    
}    

#product-container .row #product-image-options form .form-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#product-container .row #product-image-options form .color-form #color-buttons{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

#product-container .row #product-image-options form .color-form #color-buttons .color-button, #product-container .row #product-image-options form .color-form #color-buttons .edit-color{
    width:22px;
    height: 22px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
}
#product-container .row #product-image-options form .color-form #color-buttons .color-button, #product-container .row #product-image-options form .color-form #color-buttons .edit-color:hover{
    cursor: pointer;
}

#product-container .row #product-image-options form .color-form #color-buttons .color-button:hover{
    cursor: pointer;
    border: 2px solid var(--blue-color);
}

#product-container .row #product-image-options form .color-form #color-buttons .color-button#color-button-active{
    border: 2px solid var(--blue-color);
}

#product-container .row #product-image-options form .color-form #color-buttons .color-button * {
width:12px;
height: 12px;
border-radius: 50%;
}
.black{
    background-color: #000;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.pink{
    background-color: pink;
}

.darkgrey{
    background-color:darkgrey;
}

.lightgrey{
    background-color: lightgrey;
}

.purple{
    background-color: purple;
}

.yellow{
    background-color: yellow;
}


#product-container .row #product-image-options form .color-form #color-buttons .color-button{
    width: 20px;
    height: 20px;
}


#product-container .row #product-image-options form .form-group input{
    width: 50%;
}

#product-container .row #product-description{
    background-color: var(--white-color);
    padding: 15px;
    width: 100%;
    margin-left: 15px;
    box-shadow: 1px 1px 1px black;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
padding: 15px 15px;
margin-bottom: 50px;
}

#product-container .row #product-description h1{
    font-size: 20px;
}

#product-container .row #product-description h2{
    font-size: 16px;
}

#product-container .row #product-description p{
    font-size: 14px;
}
/* END PRODUCTPAGE */

#shopping-cart-small{
    width: 250px;
background-color:#fff;
-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
position: absolute;
border:0;
right:30px;
display:none;
}

#shopping-cart-small h1{
    padding: 15px 15px;
    
}

#shopping-cart-small ul{
    
}

#shopping-cart-small ul li{
    border-bottom: 1px solid black;
    padding: 20px  15px;
    display: flex;
    justify-content: space-between;
    
}

#shopping-cart-small ul li .price{
    font-weight: bold;
}

#shopping-cart-small ul li a{
    
}

#shopping-cart-small ul li#total-message{
    font-weight: bold;
    padding-left: 50%;
    border:0;
}

button{
    background-color:var(--blue-color);
    border:0;
    padding: 15px 0;
    color: white;
    transition: all 1s;
    width: 100%;
}

button:hover{
    cursor: pointer;
    background-color: var(--blue-header);
}

.noborder{
    border:none!important;
}


/* register */
#register-wrapper{
    display: flex;
    justify-content: center;
    padding: 100px;
}

#register-wrapper form{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-top: 50px;
}

#register-wrapper form input[type=submit]{
    background-color:var(--blue-color);
    border:0;
    padding: 15px 0;
    color: white;
    transition: all 1s;
    width: 100%;
}



#register-wrapper form input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--blue-header);
}

#register-wrapper form .form-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#register-wrapper #information h1{
    font-size: 20px;
    margin-bottom: 25px;
}

#register-wrapper #information ul li{
    margin-bottom: 5px;
}



/* login */
#login-wrapper{
    display: flex;
    padding: 100px;
    flex-direction: column;
    align-items: center;
}

#login-wrapper form{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-top: 50px;
}

#login-wrapper form input[type=submit]{
    background-color:var(--blue-color);
    border:0;
    padding: 15px 0;
    color: white;
    transition: all 1s;
    width: 100%;
}



#login-wrapper form input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--blue-header);
}

#login-wrapper form .form-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


















/* switch button */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* color-edit-window */

  .full-screen{
      display: none;
      position: fixed;
      top:0;
      left:0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0,0,0,0.75);
      justify-content: center;
      align-items: center;
  }
  #color-edit-window, #image-edit-window{
      display:none;
      width: 75%;
      display:flex;
      flex-direction: column;
      background-color: #fff;
      padding: 15px;    
  }

  #color-edit-window #top, #image-edit-window #top {
      display: flex;
      justify-content: flex-end;
  }

  #color-edit-window #top, #image-edit-window #top button{
      width: 10%;
  }

  #color-edit-window #content, #image-edit-window #content{
      width: 50%;
      padding-top: 10%;
      height: 60%;
      margin: auto auto;
      display: flex;
  }

  #color-edit-window #content #color-container{
      display: flex;
  }

  #color-edit-window #content .color{
      width: 100px;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 15px;
  }

  #color-edit-window #content #addColor{
      height: 25px;
      padding: 0 5px;
  }

  #color-edit-window #content .color .bg-color{
      width: 100%;
      height: 25px;
  }





  #image-edit-images-container{
      display: flex;
      justify-content: center;

  }
  .image-edit-images-container-image{
      width: 10%;
  }

  .image-edit-images-container-image img{
      width: 100px;
  }